html, body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body{
	background-color: #7FFFD4;
	margin: 0;
}

.header{
	height: 40px;
}





.tile{

	height: 75px;
	width: 75px;

	text-align: center;
	display: inline-flex;
  	flex-direction: column;
  	justify-content: center;
  	flex-grow: 0;
}




.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.tile h1{
	line-height: 40px;
	color: white;
	font-family: Futura, Helvetica, sans-serif;
	font-size: 24px;
	opacity: 1;
	text-transform: uppercase;
	width: 75px;
}


.tile:hover{
	opacity: 0;
    transition: .1s opacity;
}





.grid-bottom{
  
  position: absolute;
  top: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: -1;
}


.grid-bottom p{
	line-height: 16px;
	color: blue;
	font-family: Futura, Helvetica, sans-serif;
	font-size: 12px;
	opacity: 1;
	text-transform: lowercase;
}

.grid-bottom .tile{
  background-color: #fff;

}


.grid div{
  background-color: #7FFFD4;
}



.footer{
	height: 40px;
}






/*
.tile-detail{
	position: relative;
	right:75px;

	height: 75px;
	width: 75px;
	text-align: center;
	display: inline-flex;
  	flex-direction: column;
  	justify-content: center;
  	z-index: -1;
  	opacity: 1;
}
*/




